[submodule "sub/malware-ioc"]
	path = sub/malware-ioc
	url = https://github.com/eset/malware-ioc.git
[submodule "sub/signature-base"]
	path = sub/signature-base
	url = https://github.com/Neo23x0/signature-base.git
[submodule "sub/Malware-Misc-RE"]
	path = sub/Malware-Misc-RE
	url = https://github.com/k-vitali/Malware-Misc-RE.git
[submodule "sub/APT_REPORT"]
	path = sub/APT_REPORT
    url = https://github.com/blackorbird/APT_REPORT.git
[submodule "sub/DailyIOC"]
	path = sub/DailyIOC
	url = https://github.com/StrangerealIntel/DailyIOC.git
[submodule "sub/protections-artifacts"]
	path = sub/protections-artifacts
	url = https://github.com/elastic/protections-artifacts.git
	branch = main
[submodule "sub/GCTI"]
	path = sub/GCTI
	url = https://github.com/chronicle/GCTI.git
